#weatherDashboard {
  color: white;
  font-size: 50px;
}

#searchForACity {
  font-size: 20px;
}

#city{
  font-size: 40px;
}

#forecast {
  font-size: 25px;
}

.searchCity{
  height: 100%;
}

.jumbotron {
  width: 100%;
}

.card-body {
  background-color: rgb(98, 165, 98);
  color: white;
}

.dateText {
  font-size: 25px;
}

#low {
  background-color: green;
}

#moderate {
  background-color: yellow;
}

#high {
  background-color: orange;
}

#veryHigh {
  background-color: red;
}

#extreme {
  background-color: purple;
}

